<form action="/contacts" method="post">
  First Name:   <input type="text" name="first_name"><br>
  Last Name:    <input type="text" name="last_name"><br>
  Email:        <input type="text" name="email"><br>
  Phone Number: <input type="text" name="phone_number"><br>
  Bio:          <input type="text" name="bio"><br>
  User:         
  <select name="user_id">
    <option value=1 type="number">bk</option>
  </select><br>
  <input type="submit" value="Add Contact">
</form>